@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
  min-width: 900px;
  margin: 0 auto;
  max-width: 1400px;
}

/* -----------------------------Header--------------------------- */
#home {
  font-family: "Open Sans";
  /* min-width: 900 px; */
  height: 800px;
  background-image: url(/FL15_HW4/homework/img/apples.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section {
  font-family: "Open Sans";
}

.nav-bar {
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}

.nav-bar li {
  display: inline;
  padding: 30px;
  font-weight: 400;
}
.logo {
  flex-basis: 60%;
}

.logo p {
  padding-left: 40px;
  color: #f3f3f3;
  font-size: x-large;
  font-weight: 300;
  padding-right: 50px;
  letter-spacing: 5px;
}

.menu {
  text-align: end;
  flex-basis: 60%;
}

.header-container {
  display: block;
  padding-top: 200px;
  text-align: center;
}

.header-container p {
  color: #ffffff;
  margin-top: 0;
}

h1 {
  font-size: 50px;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 5px;
}

h1 span {
  font-size: 90px;
  font-weight: 400;
}

#header-show-more-btn {
  margin-top: 110px;
  background-color: #343638df;
  border: 2px solid #f3f3f3;
  width: 250px;
  height: 50px;
  color: #f3f3f3;
}

#header-show-more-btn:hover {
  cursor: pointer;
  background-color: #00000091;
}

/* -----------------------------Header--------------------------- */

/* ----------------------Section1---------------------------- */
.section-container {
  background-color: #f3f3f3;
}

#section1 {
  background-color: #ffffff;
  padding: 100px 0px 100px 0px;
  display: flex;
}

#section1 h2 {
  flex-basis: 45%;
  padding: 0px 150px 0px 40px;
  font-size: 20px;
  font-weight: 300;
}
#section1 p {
  flex-basis: 55%;
  padding: 0px 40px 0px 0px;
  font-size: 14px;
}
/* ----------------------Section1---------------------------- */

/* ----------------------Section2---------------------------- */
#section2 {
  display: grid;
}

#section2 div {
  display: flex;
  position: relative;
}

#section2 img {
  height: auto;
  width: 800px;
  display: block;
}

.gradient1 {
  padding: 10px 10px 10px 70px;
}

.gradient2 {
  padding: 10px 70px 10px 10px;
  position: relative;
}

.gradient1::after {
  content: "";
  width: 800px;
  height: 310px;
  position: absolute;
  left: 70px;
  top: 11px;
  box-shadow: inset -40px -50px 90px #3e3e3e99;
}

.gradient2::after {
  content: "";
  width: 800px;
  height: 310px;
  position: absolute;
  left: 10px;
  top: 10px;
  box-shadow: inset -40px -50px 90px #3e3e3e99;
}

.capt1 {
  position: absolute;
  bottom: 30px;
  left: 100px;
  color: #ffffff;
}
.capt2 {
  position: absolute;
  bottom: 30px;
  left: 570px;
  color: #ffffff;
}

#section2 h3 {
  font-weight: 300;
  padding: 120px 0 70px 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 28px;
}

#section2 h3 span {
  font-weight: 500;
}

#section2 p {
  text-align: center;
  margin: auto 0;
}

.p-even {
  padding: 0 10px 0 60px;
}

.p-odd {
  padding: 0 60px 0 20px;
}

.likes1 {
  padding-top: 5px;
  font-size: 15px;
  color: #ffffff;
  height: 25px;
  width: 55px;
  position: absolute;
  bottom: 270px;
  left: 790px;
  background-color: #0000007f;
  border: 2px solid #f3f3f3;
}

.likes2 {
  padding-top: 4px;
  font-size: 14px;
  color: #ffffff;
  height: 25px;
  width: 55px;
  position: absolute;
  bottom: 270px;
  left: 1250px;
  background-color: #0000007f;
  border: 2px solid #f3f3f3;
}

.likes1 span {
  font-size: x-small;
}

.likes2 span {
  font-size: x-small;
}

#section2 form {
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form label {
  font-weight: 300;
  font-size: 22px;
  padding: 40px 10px;
}

form input {
  width: 700px;
  height: 50px;
  background-color: #f3f3f3;
  border: 1px solid #a4a4a491;
  padding-left: 10px;
}

#subscribe-btn {
  height: 54px;
  width: 140px;
  font-size: 14px;
  background-color: #343638;
  border: none;
  color: #ffffff;
}
/* -------------------_Section2---------------------------- */
/* -------------------_Section3---------------------------- */
#section3 {
  display: flex;
  padding: 40px 0;
}

#section3 h3 {
  font-weight: 600;
}

#section3 p {
  font-weight: 300;
}

.left-paragraphs {
  flex-basis: 60%;
  margin-left: 40px;
  display: flex;
}

.left-paragraphs p {
  height: 150px;
  font-size: 14px;
}

.right-paragraph.s3-item {
  flex-basis: 40%;
  padding-right: 50px;
}
.s3-item {
  padding: 20px 7px;
  width: 300px;
}

.tweet p {
  font-style: italic;
}

.tweet span {
  color: #a4a4a4;
  font-weight: 600;
}

#email-input2 {
  width: 240px;
  height: 30px;
  background-color: #f3f3f3;
  border: 1px solid #a4a4a491;
  padding-left: 10px;
  font-weight: 300;
  font-size: 13px;
  color: #9e9e9e;
}

/* #email-input2 value {
  
  padding: 30px;
  margin: auto 20px;
} */

#subscribe-btn-s3 {
  height: 34px;
  width: 80px;
  font-size: 14px;
  background-color: #343638;
  border: none;
  color: #ffffff;
}

.form2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------Section3--------------------- */
/* ---------------_Footer---------------------- */
footer {
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  border-top: 1px solid #c5c5c57c;
  margin: 0 40px;
}

footer a {
  text-decoration: none;
  color: #343434;
}

footer li {
  display: inline;
  padding: 15px;
  font-size: small;
}

.copyright {
  flex-basis: 70%;
  color: #a4a4a4;
}

.footer-nav-bar {
  text-align: end;
  flex-basis: 30%;
}
